<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Bike is Now Up on Display</h1>

     <h3 style="font-family: 'Roboto'; font-weight: 900">
       Hey <%= @user.first_name %>,
     </h3>

     <h3 style="font-family: 'Roboto', sans-serif">
        Thank you so much for submitting a photo for our gallery!  You can check it out on our site.</h3>
      <h3>It's because of awesome riders like you that Aloop can show our kits to the world.</h3>

    <h3 style="font-family: 'Roboto', sans-serif"><strong>Happy Riding,<br>The Aloop Team</strong></h3>
  </body>
</html>
