<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_13.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
	<div class="index-text row">
		<h2>Aloop 1998 XR440 Project MX</h2>
	</div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="container" style="margin-top: 20px">

	<div class="row text-center">
		<h1 class="col-sm-10 col-sm-push-1"><strong>Our Motocross Action Magazine Project Bike</strong></h1>

		<%= image_tag "xr4002.jpg", style: "max-width: 100%", alt: "Motocross Action Magazine project bike" %>

		<p class="col-md-8 col-md-push-2" style="margin-top: 20px">Here's a list of the parts and modifications that we used on our Motocross Action Magazine project bike. This story ran in the May, 1998 issue of MXA. You may also want to check out the April 1998 issue of Dirt Bike magazine for another cool XR495 MX bike that sports our new 4SMX tank seat combo. Enjoy this list, and don't drool on your keyboard!!!</p>
	</div> <!-- row -->

	<table class="alternating-table" style="margin-top: 20px">
		<tr>
			<td>Aloop 4SMX Tank/Seat Kit</td>
			<td>$499.00</td>
		</tr>
		<tr>
			<td>Aloop Custom Glide Plate</td>
			<td>$59.95</td>
		</tr>
		<tr>
			<td>Aloop Suspension Revalve (Front)</td>
			<td>$115.00</td>
		</tr>
		<tr>
			<td>Aloop Suspension Revalve (Rear)</td>
			<td>$149.00</td>
		</tr>
		<tr>
			<td>Aloop MX Flywheel Mod</td>
			<td>$89.95</td>
		</tr>
		<tr>
			<td>Aloop Carb T-Vent Kit</td>
			<td>$22.95</td>
		</tr>
		<tr>
			<td>Aloop Heavy Clutch Springs</td>
			<td>$22.95</td>
		</tr>
		<tr>
			<td>Answer Protaper Bars</td>
			<td>$99.95</td>
		</tr>
		<tr>
			<td>Aloop MX Rear Fender</td>
			<td>$39.95</td>
		</tr>
		<tr>
			<td>Braking K/C 6 Front Brake Pads</td>
			<td>$39.95</td>
		</tr>
		<tr>
			<td>Braking Oversize Front Brake Kit</td>
			<td>$199.95</td>
		</tr>
		<tr>
			<td>Braking Oversize Rear Brake Kit</td>
			<td>$249.95</td>
		</tr>
		<tr>
			<td>Bridgestone M78 Rear</td>
			<td>$95.95</td>
		</tr>
		<tr>
			<td>Bridgestone M23 Front</td>
			<td>$71.95</td>
		</tr>
		<tr>
			<td>Emig Racing Upper Triple Clamp</td>
			<td>$99.95</td>
		</tr>
		<tr>
			<td>Emig Racing Lower Triple Clamp</td>
			<td>$134.95</td>
		</tr>
		<tr>
			<td>Emig Racing Chain Guide</td>
			<td>$69.95</td>
		</tr>
		<tr>
			<td>IMS Folding Tip Shift Lever</td>
			<td>$22.95</td>
		</tr>
		<tr>
			<td>PBI 50t Rear Sprocket</td>
			<td>$59.95</td>
		</tr>
		<tr>
			<td>Renthal Medium Grips</td>
			<td>$7.95</td>
		</tr>
		<tr>
			<td>RaceTech .44 Front Springs</td>
			<td>$79.95</td>
		</tr>
		<tr>
			<td>Russell Front Brake Line</td>
			<td>$49.95</td>
		</tr>
		<tr>
			<td>Regina GPN Chain</td>
			<td>$83.95</td>
		</tr>
		<tr>
			<td>Summers Racing "Kiwi" Case Protector</td>
			<td>$33.75</td>
		</tr>
		<tr>
			<td>Summers Racing Fender Skins</td>
			<td>$99.95</td>
		</tr>
		<tr>
			<td>Summers Racing Fork Brace</td>
			<td>$199.95</td>
		</tr>
		<tr>
			<td>Thumper Racing 440 Big Bore Cylinder</td>
			<td>$453.95</td>
		</tr>
		<tr>
			<td>Thumper Racing Pegs</td>
			<td>$69.95</td>
		</tr>
		<tr>
			<td>Triton Chain Rollers</td>
			<td>$13.95</td>
		</tr>
		<tr>
			<td>UFO KX250 Front Number Plate</td>
			<td>$22.95</td>
		</tr>
		<tr>
			<td>Works Connection Frame Covers</td>
			<td>$54.95</td>
		</tr>
		<tr>
			<td>White Bros 21" Front Weel with Talon Hub, Excel Rim, and Splinedrive Spokes</td>
			<td>$479.95</td>
		</tr>
		<tr>
			<td>White Bros 19" Rear Weel with Talon Hub, Excel Rim, and Splinedrive Spokes</td>
			<td>$564.95</td>
		</tr>
		<tr>
			<td>White Bros Hi Rev Ignition Kit</td>
			<td>$329.95</td>
		</tr>
		<tr>
			<td>White Bros Valve Springs With Ti Collars</td>
			<td>$183.95</td>
		</tr>
		<tr>
			<td>White Bros Large Diameter Head Pipes</td>
			<td>$199.95</td>
		</tr>
		<tr>
			<td>White Bros E-Series Pro-Meg Exhaust</td>
			<td>$249.95</td>
		</tr>
		<tr>
			<td>White Bros Speedo Drive Spacer</td>
			<td>$19.95</td>
		</tr>
		<tr>
			<td>White Bros Powerfilter</td>
			<td>$23.95</td>
		</tr>
		<tr>
			<td>Works Connection Clutch Lever</td>
			<td>$59.95</td>
		</tr>
	</table>
</div> <!-- container -->

<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>