<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "hero_blank_road.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="row overlap-hero-image text-center">
	<%= image_tag "hero_bike.png", class: "slideRight", style: "width: 80%; max-width: 500px", alt: "Aloop Motorcycle" %>
</div> <!-- overlap hero image -->


<div class="well">
	<h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
</div>
