<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "index_hero.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="row overlap-hero-image text-center">
	<h2 class="index-text">No other single modification<br>can give you such an immediate&nbsp;gain<br>in handling, performance, and&nbsp;style!</h2>
</div> <!-- overlap hero image -->
