<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_6.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
	<div class="index-text row">
		<h2 class="index-only-text">"The Honda that Honda should have built..."</h2>
	</div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="row text-center background-white">
	<div class="container">
		<h1>No other single modification can give you such an immediate gain in handling, performance, and&nbsp;style!</h1> 
	</div> <!-- container -->
</div> <!-- overlap hero image -->

<div class="row text-center background-white">
	<div class="btn cta">
		<%= link_to "See Our Customer Photos", photos_path %>
	</div>
</div> <!-- cta button row -->

<div class="row background-white bp50">
	<div class="container col-lg-8 col-lg-push-2">
		<div class="col-sm-6">
			<h3>A Totally New Concept.</h3>
			<p>“The Honda that Honda should have built” Aloop's 4SMX tank/seat kit is a totally new concept in Motocross racing accessories. This kit features a smaller than stock 2.0 gallon plastic fuel tank, a new seat based around the CR250 style seating position, and it utilizes shrouds from a CR to enhance engine cooling and overall style.</p>
		</div> <!-- column -->

		<div class="col-sm-6">
			<h3>Ready to Bolt On.</h3>
			<p>The Aloop 4SMX Kit uses your stock petcock, fuel cap and mounting hardware. The new tank includes a right side petcock for better fuel flow. Total fuel capacity is only .8 gallons less than stock, but in a greatly improved ergonomics package. A great looking Aloop graphics set and non-slip seat cover round out the kit. All parts made in the USA. Get one and go fast!</p>
		</div> <!-- column -->


		<div class="col-sm-12">
			<h3>No “Humpback” Seat Like the Awkward Stock Setup.</h3>
			<p>With the Aloop 4SMX kit, the rider can sit a full 3" further forward on the narrow, flat seat, without encountering the awkward hump of the stock setup. The new fuel tank is 3" narrower than stock tank, and the new seat places the rider 3/4" higher as well for a greatly improved ergonomic feel. CR250 style radiator shrouds direct cooling air to the engine, and provide a place for mounting of additional oil coolers. Best of all, the new fuel tank is dramatically slimmer, and riders will find it much easier to grip the tank in the rough sections. This improves the handling and you will easily ride your machine faster. A Motocross Seat Tank kit may just be the most noticeable mod you make for your race bike.</p>
		</div> <!-- column -->
	</div> <!-- container -->
</div> <!-- info row -->