<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_6.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="index-text row">
    <h2>How to Contact Aloop</h2>
  </div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="row text-center header-row background-white" style="padding-top: 20px">
	<div class="row">
		<div class="container">
			<div class="col-xs-10 col-xs-push-1">
				<h3>We might not keep regular office hours, but your business is still very&nbsp;important&nbsp;to&nbsp;us.</h3>
				<h3>You can contact us or place an order several&nbsp;different&nbsp;ways:</h3>
			</div> <!-- column -->
		</div> <!-- container -->
	</div> <!-- row -->

	<div class="contact-formats row" style="padding: 20px 0 20px 0">
		<div class="black-box col-sm-10 col-sm-push-1 background-white">

			<a href="#QuickContactForm" class="no-underline">
				<div class="col-sm-3">
					<h2>Online<br class="hidden-lg"> Message</h2>
					<i class="icon ion-flash"></i>
					<p>We're always a click away. Send us a message below!</p>
				</div> <!-- contact format box -->
			</a>

			<div class="row visible-xs">
				<hr class="col-xs-6 col-xs-push-3">
			</div>

			<%= link_to root_path, class: "no-underline" do %>
				<div class="col-sm-3">
					<h2>Order<br class="hidden-lg"> Online</h2>
					<i class="icon ion-ios-cart"></i>
					<p>You can order any of our products on our online store.</p>
				</div> <!-- contact format box -->
			<% end %>

			<div class="row visible-xs">
				<hr class="col-xs-6 col-xs-push-3">
			</div>

			<a href="mailto:sales@aloop.com" class="no-underline">
				<div class="col-sm-3">
					<h2>Send<br class="hidden-lg"> Email</h2>
					<i class="icon ion-paper-airplane"></i>
					<p>We welcome orders, reviews, and questions by email.</p>
				</div> <!-- contact format box -->
			</a>

			<div class="row visible-xs">
				<hr class="col-xs-6 col-xs-push-3">
			</div>

			<a href="#address-popup" class="open-popup-link no-underline">
				<div class="col-sm-3">
					<h2>Postal<br class="hidden-lg"> Service</h2>
					<i class="icon ion-email"></i>
					<p>You can post orders as well as any questions you might have.</p>
				</div> <!-- contact format box -->
			</a>

		</div> <!-- column -->
	</div> <!-- row -->

	<div class="row">
		<h3 class="col-xs-10 col-xs-push-1">We will attempt to respond to all inquiries within 24 hours.  We are located in the USA Mountain Time Zone (GMT-7hrs).</h3>
	</div> <!-- contact formats row -->
</div> <!-- header row -->

<a id="QuickContactForm"><span></span></a>
<div class="row background-white" style="padding-top: 40px">
	<div class="col-xs-12 col-sm-8 col-sm-push-2 blue-box text-center">
		<div class="row">
			<h1>Send Us A Message</h1>

			<%= render 'form' %>

			<%= link_to 'Back', contacts_path %>
		</div> <!-- row -->
	</div> <!-- blue box -->
</div> <!-- row -->



<div class="row text-center background-white bp50">
	<p class="col-xs-10 col-xs-push-1" style="margin-top: 40px">If you really, really have to talk to a human being, then call Pete on his cell phone (<a href="tel:1-303-550-2582">+1 303-550-2582</a>) and leave a message. (He's the closest thing to a human being that we have here). Pete will get back to you as soon as possible, usually on the same day you call.</p>
</div> <!-- row -->



<div id="address-popup" class="white-popup mfp-hide">
	<div class="text-center">
		<h2>Aloop Offroad</h2>
		<h4>PO Box 412
		<br>Sedalia, CO 80135, USA</h4>
    </div>
</div> <!-- address popup -->

<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>
