<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_7.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="index-text row">
    <h2><%= @user.first_name %>'s Cart</h2>
  </div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="shopping-cart background-white" style="padding: 50px 0 50px 0">
  <%= render "shopping_cart" %>
</div>

