/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require magnific-popup
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';







/*
==============================================
Basics
==============================================
*/

$font-sans: 'Roboto', sans-serif;
$font-serif: 'Lora', serif;


$color-silver: #cdcdcd;
$color-red: #ec3223;
$color-blue: #001dd7;
$color-transparent-white: rgba(255,255,255,0.8);
$color-transparent-red: rgba(255,0,0, 0.3);
$color-transparent-blue: rgba(0,29,215, 0.3);
$color-transparent-silver: rgba(205,205,205, 0.6);
$color-transparent-black: rgba(0, 0, 0, 0.6);

.color-blue { color: $color-blue }
.color-silver { color: $color-silver }
.color-transparent-white { color: $color-transparent-white }

.background-color-silver { background-color: $color-silver }
.background-color-transparent-white { background-color: $color-transparent-white }

.btn {
	background-color: $color-transparent-silver;
	color: black;
	font-weight: 900;
	border-radius: 0;
	margin: 10px 0 10px 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	text-transform: capitalize;
}

.btn:hover {
	color: black !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn a {
	color: black;
	text-decoration: none !important;
}

.btn a:hover {
	color: black !important;
	text-decoration: none !important;
}

body { font-family: $font-sans }
h2 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: $font-sans;
	font-weight: 900;
}
h3 { font-family: $font-serif }
p { font-size: 16px }
label {text-transform: capitalize }
a:link { color: $color-blue; text-decoration: none; }
a:visited { color: $color-blue; }
a:hover { color: $color-red; text-decoration: underline; }
a:active { color: $color-red; }
a:focus, a:active {
   outline: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(0,29,215, 0.8);
  box-shadow: 0 1px 1px rgba(0,29,215, 0.075) inset, 0 0 8px rgba(0,29,215, 0.6);
  outline: 0 none;
}

.blue-box {
	border: solid medium $color-blue;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 30px;
	background-color: white;
	position:relative;
	margin: 20px 0 20px 0;
}

.flash-notice-area {
	position: fixed;
	width: 100%;
	z-index: 100;
}

.alert {
	border: solid thick $color-silver;
	border-left: none;
	border-right: none;
	background-color: white;
	border-radius: 0;
	color: black;
	font-weight: 900;
	font-size: 24px;
}

.alert-success { border-color: $color-blue; }
.alert-warning, .alert-danger { border-color: $color-red; }











/*
==============================================
Main Nav
==============================================
*/

#main-nav {
	position: absolute;
	margin-top: 50px;
	width: 100%;
}

.main-nav-background {
	background-color: $color-silver;
	height: 180px;
}

#main-nav.navbar-default {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $font-sans;
    border-top: solid 10px $color-transparent-white;
    border-bottom: solid 10px $color-transparent-white;
    background-clip: content-box;
    padding: 5px 0 5px 0;
    background-color: $color-transparent-white;
}

#main-nav.navbar-default .navbar-brand:hover {
    background-color: transparent;
}

#main-nav .inner {
	padding: 0 10px 0 10px;
}

#main-nav.navbar-default .navbar-nav>li>a:hover {
    border-top: solid 10px $color-transparent-blue;
    border-bottom: solid 10px $color-transparent-blue;
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: black;
    margin-top: -15px;
    margin-bottom: -15px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    background-clip: content-box;
    padding: 5px 0 5px 0;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-nav>li>a {
	    margin-top: -15px;
	    margin-bottom: -15px;
	    height: auto;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    border-top: solid 10px transparent;
	    border-bottom: solid 10px transparent;
	    background-clip: content-box;
	    padding: 5px 0 5px 0;
	    background-color: transparent;
	}
}

#main-nav.navbar-default .navbar-nav>li>a:hover,
#main-nav.navbar-default .navbar-nav>li>a:focus {
    background-color: $color-transparent-blue;
    border-top: solid 10px $color-transparent-blue;
    border-bottom: solid 10px $color-transparent-blue;
}

#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: black;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border-color: $color-red;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $color-red;
}












/*
==============================================
Footer
==============================================
*/

footer {
	margin-top: 40px;
}

.footer-stripe {
	background-color: $color-transparent-black;
	border-top: solid 10px $color-transparent-black;
	border-bottom: solid 10px $color-transparent-black;
	background-clip: content-box;
	padding: 5px 0 5px 0;
	color: white;
}

.footer-bottom {
	margin-top: 30px;
	background-color: $color-transparent-silver;
	padding: 25px 0 15px 0;
}

.tri-row {
	padding: 0 40px 0 40px;
}

footer h1 {
	font-weight: 900;
}

footer h2 {
	font-family: $font-sans;
	font-weight: 900;
}














/*
==============================================
Content Pages
==============================================
*/

.header-row h1 {
	font-size: 50px;
	margin-top: 50px;
}

.header-row h2 {
	margin-top: 50px;
}

.header-row .tracks {
	width: 70%;
	margin: 20px 0 20px 0
}

.no-underline:hover {
	text-decoration: none !important;
}

.contact-formats .col-xs-10 {
	border: thin solid black;
	padding: 20px;
	margin: 20px 0 20px 0;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.contact-formats .ion {
	font-size: 70px;
	margin-bottom: 10px;
}

.contact-formats h2 {
	font-size: 25px;
}

.contact-formats p {
	color: black !important;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

td {
	padding: 10px 15px 10px 15px;
	border: thin solid black;
}

th {
	padding: 0 0 5px 5px;
}












/*
==============================================
Hero Images
==============================================
*/

.bgi-div {
	overflow: hidden;
	position: fixed;
	height: 100vh;
	z-index: 0;
	margin-top: -100px;
	width: 100%;
}

.bgi-image {
	min-width: 100%;
	max-width: none;
	max-height: 100%;
}

.hero-image-row {
   margin-top: -250px;
   overflow-x: hidden !important;
   width: 100% !important;
 }

.hero-image-outer {
   width: 350%;
   height: 600px;
   overflow-y: hidden !important;
 }

 .hero-image-inner {
   width: 75%;
   overflow-x: hidden !important;
 }

 .hero-image {
   height: 600px;
   margin-left: -61.5%;
   z-index: 0 !important;
 }

 @media screen and (min-width: 900px) {
   .hero-image-outer {
     width: 100%;
   }

   .hero-image-inner {
     width: 100%;
   }

   .hero-image {
     width: 100%;
     height: auto;
     margin-left: 0%;
   }
 }

 .overlap-hero-image {
   margin-top: -600px;
   height: 600px;
   position: relative;
   z-index: 10;
 }






 /*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% { transform: translateX(-150%); }
	50%{ transform: translateX(8%); }
	65%{ transform: translateX(-4%); }
	100% { transform: translateX(0%); }	
}

@-webkit-keyframes slideRight {
	0% { -webkit-transform: translateX(-150%); }
	50%{ -webkit-transform: translateX(8%); }
	65%{ -webkit-transform: translateX(-4%); }
	100% { -webkit-transform: translateX(0%); }
}
