/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";








/*
==============================================
Basics
==============================================
*/


$color-silver: #cdcdcd;
$color-red: #ec3223;
$color-blue: #001dd7;
$color-transparent-white: rgba(255,255,255,0.6);
$color-transparent-red: rgba(255,0,0, 0.3);
$color-transparent-blue: rgba(0,29,215, 0.3);

.color-silver { color: $color-silver }
.color-transparent-white { color: $color-transparent-white }

.background-color-silver { background-color: $color-silver }
.background-color-transparent-white { background-color: $color-transparent-white }








/*
==============================================
Main Nav
==============================================
*/

#main-nav {
	position: absolute;
	margin-top: 50px;
	width: 100%;
}

.main-nav-background {
	background-color: $color-silver;
	height: 180px;
}

#main-nav.navbar-default {
    font-size: 14px;
    font-weight: 800;
    border-top: solid 7px $color-transparent-white;
    border-bottom: solid 7px $color-transparent-white;
    background-clip: content-box;
    padding: 7px 0 7px 0;
    background-color: $color-transparent-white;
}

#main-nav.navbar-default .navbar-brand:hover {
    background-color: transparent;
}

#main-nav.navbar-default .navbar-nav>li>a:hover {
    border-top: solid 7px $color-transparent-blue;
    border-bottom: solid 7px $color-transparent-blue;
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: black;
    margin-top: -14px;
    margin-bottom: -14px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    border-top: solid 7px transparent;
    border-bottom: solid 7px transparent;
    background-clip: content-box;
    padding: 7px 0 7px 0;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-nav>li>a {
	    margin-top: -14px;
	    margin-bottom: -14px;
	    height: auto;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    border-top: solid 7px transparent;
	    border-bottom: solid 7px transparent;
	    background-clip: content-box;
	    padding: 7px 0 7px 0;
	    background-color: transparent;
	}
}

#main-nav.navbar-default .navbar-nav>li>a:hover,
#main-nav.navbar-default .navbar-nav>li>a:focus {
    background-color: $color-transparent-red;
    border-top: solid 7px $color-transparent-red;
    border-bottom: solid 7px $color-transparent-red;
}

#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: black;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border-color: $color-red;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $color-red;
}





/*
==============================================
Hero Images
==============================================
*/

.bgi-div {
	overflow: hidden;
	position: fixed;
	height: 100vh;
	z-index: 0;
	margin-top: -100px;
	width: 100%;
}

.bgi-image {
	min-width: 100%;
	max-width: none;
	max-height: 100%;
}

.hero-image-row {
   margin-top: -250px;
   overflow-x: hidden !important;
   width: 100% !important;
 }

.hero-image-outer {
   width: 350%;
   height: 600px;
   overflow-y: hidden !important;
 }

 .hero-image-inner {
   width: 75%;
   overflow-x: hidden !important;
 }

 .hero-image {
   height: 600px;
   margin-left: -61.5%;
   z-index: 0 !important;
 }

 @media screen and (min-width: 900px) {
   .hero-image-outer {
     width: 100%;
   }

   .hero-image-inner {
     width: 100%;
   }

   .hero-image {
     width: 100%;
     height: auto;
     margin-left: 0%;
   }
 }

 .overlap-hero-image {
   margin-top: -600px;
   height: 600px;
   position: relative;
   z-index: 10;
 }






 /*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% { transform: translateX(-150%); }
	50%{ transform: translateX(8%); }
	65%{ transform: translateX(-4%); }
	100% { transform: translateX(0%); }	
}

@-webkit-keyframes slideRight {
	0% { -webkit-transform: translateX(-150%); }
	50%{ -webkit-transform: translateX(8%); }
	65%{ -webkit-transform: translateX(-4%); }
	100% { -webkit-transform: translateX(0%); }
}
