<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_3.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="index-text row">
    <h2>Aloop Store</h2>
  </div> <!-- index text row -->
</div> <!-- overlap hero image -->


<div class="header-row row text-center background-white bottom-shadow bp50">
  <div class="text-right">
    <% if current_user && current_user.admin %>
      <%= link_to 'New Product', new_product_path, style: "padding: 15px" %>
    <% end %>
  </div> <!-- right nav -->

  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <h3>Along with our game-changing 4SMX kits, we now carry other plastic parts to help convert your XR into a genuine 4SMX weapon.</h3>

      <div class="row">
        <div id="tag_cloud" class="col-sm-4 col-sm-push-4" style="margin-top: 20px">
          <% tag_cloud Product.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div> <!-- tag cloud -->
      </div> <!-- tag cloud row -->

      <h3><strong>Click on a tag above to sort through our products or browse the entire catalogue below.</strong></h3>
    </div> <!-- column -->
  </div> <!-- row -->

</div> <!-- header row -->


<% @products.each do |product| %>
  <%= render "product_row", product: product, order_item: @order_item %>
<% end %> <!-- each ends -->

<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
