<p>
<% if current_user %>
	<%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", cart_path %>  |  
  	<%= link_to "My Account", user_path(current_user) %>
<% else %>
  	<%= link_to "Login", new_user_session_path %>
<% end %>
</p>