<p>


	<% if current_order %>
		<%= link_to basket_path do %>
			My Cart <span class="number-notification"><% current_order.total_items %></span> 
			<span style="color: red"> | </span>
		<% end %>
	<% end %>




	<% if current_user && current_user.admin %> 
	  	<%= link_to "Admin Dashboard", user_path(current_user) %>
	<% elsif current_user %> 
	  	<%= link_to "My Account", user_path(current_user) %>
	<% else %>
	  	<%= link_to "Login", new_user_session_path %>
	<% end %>



</p>